# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json as json
import csv as csv
from scipy.stats import linregress

# Import API key

from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude

from citipy import citipy

# Output File (CSV)

output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes

lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities

lat_lngs = []
cities = []

#Create a set of random lat and lng combinations
#CHANGE BACK TO 1500 FOR SIZE ON BOTH.
lats = np.random.uniform(lat_range[0], lat_range[1], size=10)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=10)
lat_lngs = zip(lats, lngs)

#Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

10

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [3]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [4]:
#Print a single jason request to see the structure of the data.

trialresponse = requests.get(query_url+"Canberra").json()
print(json.dumps(trialresponse, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 0
    },
    "cod": 200,
    "coord": {
        "lat": -35.2835,
        "lon": 149.1281
    },
    "dt": 1647565077,
    "id": 2172517,
    "main": {
        "feels_like": 25.15,
        "humidity": 61,
        "pressure": 1019,
        "temp": 25,
        "temp_max": 26.82,
        "temp_min": 23.99
    },
    "name": "Canberra",
    "sys": {
        "country": "AU",
        "id": 2004200,
        "sunrise": 1647547467,
        "sunset": 1647591541,
        "type": 2
    },
    "timezone": 39600,
    "visibility": 10000,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01d",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 230,
        "speed": 2.06
    }
}

In [5]:
#Create a set of lists to house the weather data provided by the website:
    
list_city_name=[]
list_city_id=[]
list_country=[]
list_longitude=[]
list_latitude=[]
list_weather_desciption=[]
list_temp=[]
list_feels_like=[]
list_min_temp=[]
list_max_temp=[]
list_pressure=[]
list_humidity=[]
list_visibility=[]
list_wind_speed=[]
list_wind_temp=[]
list_sunrise=[]
list_sunset=[]
list_cloudiness=[]

# Create a value to append to lists when City Data is unavailable.
# Failure to append the lists might mean that some are longer than others.
# That kind of asymmetry means that a master data frame cannot be created.

No_City_Data_Input="No Data"

In [6]:
for city in cities:
    response = requests.get(query_url + city).json()
    
    try:
        city_name=response["name"]
        list_city_name.append(city_name)
        
        city_id=int(response["id"])
        list_city_id.append(city_id)
        
        print("City Name:   " + (str(city_name)) + "  (City ID: " + (str(city_id)) + ")")
        
        country=response["sys"]["country"]
        list_country.append(country)
        
        longitude=response["coord"]["lon"]
        list_longitude.append(longitude)
        
        latitude=response["coord"]["lat"]
        list_latitude.append(latitude)
        
        temp=response["main"]["temp"]
        list_temp.append(temp)
        
        feels_like=response["main"]["feels_like"]
        list_feels_like.append(feels_like)
        
        min_temp=response["main"]["temp_min"]
        list_min_temp.append(min_temp)
        
        max_temp=response["main"]["temp_max"]
        list_max_temp.append(max_temp)
        
        pressure=response["main"]["pressure"]
        list_pressure.append(pressure)
        
        humidity=response["main"]["humidity"]
        list_humidity.append(humidity)
        
        visibility=response["visibility"]
        list_visibility.append(visibility)
        
        wind_speed=response["wind"]["speed"]
        list_wind_speed.append(wind_speed)
        
        wind_temp=response["wind"]["deg"]
        list_wind_temp.append(wind_temp)
        
        sunrise=response["sys"]["sunrise"]
        list_sunrise.append(sunrise)
        
        sunset=response["sys"]["sunset"]
        list_sunset.append(sunset)
        
        cloudiness=response["clouds"]["all"]
        list_cloudiness.append(cloudiness)
        
    except KeyError:
        print("---City Data Not Found---")
        list_city_name.append(No_City_Data_Input)
        list_city_id.append(No_City_Data_Input)
        list_country.append(No_City_Data_Input)
        list_longitude.append(No_City_Data_Input)
        list_latitude.append(No_City_Data_Input)
        list_temp.append(No_City_Data_Input)
        list_feels_like.append(No_City_Data_Input)
        list_min_temp.append(No_City_Data_Input)
        list_max_temp.append(No_City_Data_Input)
        list_pressure.append(No_City_Data_Input)
        list_humidity.append(No_City_Data_Input)
        list_visibility.append(No_City_Data_Input)
        list_wind_speed.append(No_City_Data_Input)
        list_wind_temp.append(No_City_Data_Input)
        list_sunrise.append(No_City_Data_Input)
        list_sunset.append(No_City_Data_Input)
        list_cloudiness.append(No_City_Data_Input)

City Name:   Lompoc  (City ID: 5367788)
City Name:   Namie  (City ID: 2111704)
City Name:   Bitlis Province  (City ID: 321022)
City Name:   Busselton  (City ID: 2075265)
City Name:   Nikolskoye  (City ID: 546105)
---City Data Not Found---
City Name:   Jamestown  (City ID: 5122534)
City Name:   Province of Mantua  (City ID: 3174050)
City Name:   Bull Savanna  (City ID: 3491161)
City Name:   SawƒÅkin  (City ID: 367544)

In [7]:
print(f" City Names: {list_city_name}")
print(f" City IDs: {list_city_id}")
print(f" Country Codes: {list_country}")
print(f" Longitudes: {list_longitude}")
print(f" Latitudes: {list_latitude}")
print(f" Temps: {list_temp}")
print(f" Feels Like Temps: {list_feels_like}")
print(f" Min Temps: {list_min_temp}")
print(f" Max Temps: {list_max_temp}")
print(f" Pressures: {list_pressure}")
print(f" Humidities: {list_humidity}")
print(f" Visibility Readings: {list_visibility}")
print(f" Wind Speeds: {list_wind_speed}")
print(f" Wind Temps: {list_wind_temp}")
print(f" Sunrises: {list_sunrise}")
print(f" Sunsets: {list_sunset}")
print(f" Cloudiness Readings: {list_cloudiness}")

 City Names: ['Lompoc', 'Namie', 'Bitlis Province', 'Busselton', 'Nikolskoye', 'No Data', 'Jamestown', 'Province of Mantua', 'Bull Savanna', 'SawƒÅkin']
 City IDs: [5367788, 2111704, 321022, 2075265, 546105, 'No Data', 5122534, 3174050, 3491161, 367544]
 Country Codes: ['US', 'JP', 'TR', 'AU', 'RU', 'No Data', 'US', 'IT', 'JM', 'SD']
 Longitudes: [-120.4579, 141, 42.25, 115.3333, 30.7861, 'No Data', -79.2353, 10.7833, -77.5902, 37.3321]
 Latitudes: [34.6391, 37.4833, 38.5, -33.65, 59.7035, 'No Data', 42.097, 45.1667, 17.8868, 19.1059]
 Temps: [14.38, 1.12, -10.45, 21.9, -2.59, 'No Data', 10.88, 7.16, 23.49, 20.75]
 Feels Like Temps: [13.83, 1.12, -15.5, 21.92, -4.94, 'No Data', 9.12, 7.16, 23.93, 20.16]
 Min Temps: [12.74, 1.1, -10.45, 21.9, -5.12, 'No Data', 6.77, 6.7, 23.49, 20.75]
 Max Temps: [18.34, 4.29, -10.45, 21.9, -0.11, 'No Data', 12.8, 8.58, 23.49, 20.75]
 Pressures: [1018, 1018, 1027, 1013, 1044, 'No Data', 1015, 1029, 1016, 1013]
 Humidities: [75, 91, 96, 68, 95, 'No Data', 42, 84, 78, 49]
 Visibility Readings: [10000, 45, 10000, 10000, 10000, 'No Data', 10000, 10000, 10000, 10000]
 Wind Speeds: [9.39, 0.81, 2.57, 1.61, 1.64, 'No Data', 2.06, 0.45, 5.3, 3.37]
 Wind Temps: [289, 67, 183, 36, 201, 'No Data', 310, 64, 95, 335]
 Sunrises: [1647526172, 1647549811, 1647573489, 1647555599, 1647576318, 'No Data', 1647516327, 1647581055, 1647515813, 1647574603]
 Sunsets: [1647569447, 1647593099, 1647616810, 1647599628, 1647619483, 'No Data', 1647559509, 1647624345, 1647559234, 1647618056]
 Cloudiness Readings: [0, 100, 100, 100, 5, 'No Data', 0, 100, 16, 0]

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [8]:
Raw_Data_Frame_df=pd.DataFrame({"City Name": list_city_name, "City ID": list_city_id, "Country Code": list_country, "Longitude": list_longitude, "Latitude": list_latitude, "Temp": list_temp, "Feels Like Temp": list_feels_like, "Min Temp": list_min_temp, "Max Temp": list_max_temp, "Pressure": list_pressure, "Humidity": list_humidity, "Visibility": list_visibility, "Wind Speed": list_wind_speed, "Wind Temp": list_wind_temp, "Sunrise": list_sunrise, "Sunset": list_sunset, "Cloudiness": list_cloudiness})
Raw_Data_Frame_df

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
0,Lompoc,5367788,US,-120.4579,34.6391,14.38,13.83,12.74,18.34,1018,75,10000,9.39,289,1647526172,1647569447,0
1,Namie,2111704,JP,141,37.4833,1.12,1.12,1.1,4.29,1018,91,45,0.81,67,1647549811,1647593099,100
2,Bitlis Province,321022,TR,42.25,38.5,-10.45,-15.5,-10.45,-10.45,1027,96,10000,2.57,183,1647573489,1647616810,100
3,Busselton,2075265,AU,115.3333,-33.65,21.9,21.92,21.9,21.9,1013,68,10000,1.61,36,1647555599,1647599628,100
4,Nikolskoye,546105,RU,30.7861,59.7035,-2.59,-4.94,-5.12,-0.11,1044,95,10000,1.64,201,1647576318,1647619483,5
5,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
6,Jamestown,5122534,US,-79.2353,42.097,10.88,9.12,6.77,12.8,1015,42,10000,2.06,310,1647516327,1647559509,0
7,Province of Mantua,3174050,IT,10.7833,45.1667,7.16,7.16,6.7,8.58,1029,84,10000,0.45,64,1647581055,1647624345,100
8,Bull Savanna,3491161,JM,-77.5902,17.8868,23.49,23.93,23.49,23.49,1016,78,10000,5.3,95,1647515813,1647559234,16
9,SawƒÅkin,367544,SD,37.3321,19.1059,20.75,20.16,20.75,20.75,1013,49,10000,3.37,335,1647574603,1647618056,0

In [9]:
Rows_to_delete_df=Raw_Data_Frame_df.loc[Raw_Data_Frame_df["City Name"]=="No Data", :]
Rows_to_delete_df

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
5,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data

In [13]:
Master_df1=Raw_Data_Frame_df.append(Rows_to_delete_df)
MasterFrame_df=Master_df1.drop_duplicates(keep=False)
MasterFrame_df

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
0,Lompoc,5367788,US,-120.4579,34.6391,14.38,13.83,12.74,18.34,1018,75,10000,9.39,289,1647526172,1647569447,0
1,Namie,2111704,JP,141,37.4833,1.12,1.12,1.1,4.29,1018,91,45,0.81,67,1647549811,1647593099,100
2,Bitlis Province,321022,TR,42.25,38.5,-10.45,-15.5,-10.45,-10.45,1027,96,10000,2.57,183,1647573489,1647616810,100
3,Busselton,2075265,AU,115.3333,-33.65,21.9,21.92,21.9,21.9,1013,68,10000,1.61,36,1647555599,1647599628,100
4,Nikolskoye,546105,RU,30.7861,59.7035,-2.59,-4.94,-5.12,-0.11,1044,95,10000,1.64,201,1647576318,1647619483,5
6,Jamestown,5122534,US,-79.2353,42.097,10.88,9.12,6.77,12.8,1015,42,10000,2.06,310,1647516327,1647559509,0
7,Province of Mantua,3174050,IT,10.7833,45.1667,7.16,7.16,6.7,8.58,1029,84,10000,0.45,64,1647581055,1647624345,100
8,Bull Savanna,3491161,JM,-77.5902,17.8868,23.49,23.93,23.49,23.49,1016,78,10000,5.3,95,1647515813,1647559234,16
9,SawƒÅkin,367544,SD,37.3321,19.1059,20.75,20.16,20.75,20.75,1013,49,10000,3.37,335,1647574603,1647618056,0

In [14]:
MasterFrame_df.to_csv("Output/Test.csv", index=False, header=True)

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [16]:
#  Get the indices of cities that have humidity over 100%.

Outlier_Humidity_df=MasterFrame_df.loc[MasterFrame_df["Humidity"] > 85, :]
Outlier_Humidity_df

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
1,Namie,2111704,JP,141,37.4833,1.12,1.12,1.1,4.29,1018,91,45,0.81,67,1647549811,1647593099,100
2,Bitlis Province,321022,TR,42.25,38.5,-10.45,-15.5,-10.45,-10.45,1027,96,10000,2.57,183,1647573489,1647616810,100
4,Nikolskoye,546105,RU,30.7861,59.7035,-2.59,-4.94,-5.12,-0.11,1044,95,10000,1.64,201,1647576318,1647619483,5

In [22]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
Master_df2=MasterFrame_df.append(Outlier_Humidity_df)
Master_df2

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
0,Lompoc,5367788,US,-120.4579,34.6391,14.38,13.83,12.74,18.34,1018,75,10000,9.39,289,1647526172,1647569447,0
1,Namie,2111704,JP,141,37.4833,1.12,1.12,1.1,4.29,1018,91,45,0.81,67,1647549811,1647593099,100
2,Bitlis Province,321022,TR,42.25,38.5,-10.45,-15.5,-10.45,-10.45,1027,96,10000,2.57,183,1647573489,1647616810,100
3,Busselton,2075265,AU,115.3333,-33.65,21.9,21.92,21.9,21.9,1013,68,10000,1.61,36,1647555599,1647599628,100
4,Nikolskoye,546105,RU,30.7861,59.7035,-2.59,-4.94,-5.12,-0.11,1044,95,10000,1.64,201,1647576318,1647619483,5
6,Jamestown,5122534,US,-79.2353,42.097,10.88,9.12,6.77,12.8,1015,42,10000,2.06,310,1647516327,1647559509,0
7,Province of Mantua,3174050,IT,10.7833,45.1667,7.16,7.16,6.7,8.58,1029,84,10000,0.45,64,1647581055,1647624345,100
8,Bull Savanna,3491161,JM,-77.5902,17.8868,23.49,23.93,23.49,23.49,1016,78,10000,5.3,95,1647515813,1647559234,16
9,SawƒÅkin,367544,SD,37.3321,19.1059,20.75,20.16,20.75,20.75,1013,49,10000,3.37,335,1647574603,1647618056,0
1,Namie,2111704,JP,141,37.4833,1.12,1.12,1.1,4.29,1018,91,45,0.81,67,1647549811,1647593099,100
2,Bitlis Province,321022,TR,42.25,38.5,-10.45,-15.5,-10.45,-10.45,1027,96,10000,2.57,183,1647573489,1647616810,100
4,Nikolskoye,546105,RU,30.7861,59.7035,-2.59,-4.94,-5.12,-0.11,1044,95,10000,1.64,201,1647576318,1647619483,5

In [19]:
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
Hum_MasterFrame_df=Master_df2.drop_duplicates(keep=False)
Hum_MasterFrame_df

,City Name,City ID,Country Code,Longitude,Latitude,Temp,Feels Like Temp,Min Temp,Max Temp,Pressure,Humidity,Visibility,Wind Speed,Wind Temp,Sunrise,Sunset,Cloudiness
0,Lompoc,5367788,US,-120.4579,34.6391,14.38,13.83,12.74,18.34,1018,75,10000,9.39,289,1647526172,1647569447,0
3,Busselton,2075265,AU,115.3333,-33.65,21.9,21.92,21.9,21.9,1013,68,10000,1.61,36,1647555599,1647599628,100
6,Jamestown,5122534,US,-79.2353,42.097,10.88,9.12,6.77,12.8,1015,42,10000,2.06,310,1647516327,1647559509,0
7,Province of Mantua,3174050,IT,10.7833,45.1667,7.16,7.16,6.7,8.58,1029,84,10000,0.45,64,1647581055,1647624345,100
8,Bull Savanna,3491161,JM,-77.5902,17.8868,23.49,23.93,23.49,23.49,1016,78,10000,5.3,95,1647515813,1647559234,16
9,SawƒÅkin,367544,SD,37.3321,19.1059,20.75,20.16,20.75,20.75,1013,49,10000,3.37,335,1647574603,1647618056,0

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression